<!-- 
 - @file uwb.launch
 - @author Vit Petrik (petrivi2@fel.cvut.cz)
 - @brief Launch nodeleted for Qorvo DW1001 with custom firmware
 - @version 0.1
 - @date 2022-11-17
 - 
 - @copyright Copyright (c) 2022
 - 
-->

<launch>
  <arg name="uav_name" default="$(optenv UAV_NAME uav1)"/>
  <arg name="profiler" default="$(optenv PROFILER false)" />

  <arg name="node_name" default="object_tracker"/>

  <arg name="output_frame"      default="$(arg uav_name)/local_origin"/>
  <arg name="kalman_frame"      default="$(arg uav_name)/local_origin"/>
  <arg name="gps_frame"         default="$(arg uav_name)/utm_origin"/>
  <arg name="use_velocity"      default="false"/>
  <arg name="output_framerate"  default="10"/>

  <arg name="use_uvdar"         default="true"/>
  <arg name="use_uwb"           default="true"/>
  <arg name="use_gps"           default="true"/>

  <arg name="time_to_live"      default="5" />

  <!-- use 0 for constant position
  use 1 for constant velocity
  use 2 for constant acceleration -->
  <arg name="kalman_pose_model" default="0" />
  <arg name="kalman_rotation_model" default="0" />

  <arg name="spectral_density_pose" default="3" />
  <arg name="spectral_density_rotation" default="1" />

  <group ns="$(arg uav_name)">
    <node name="$(arg node_name)" pkg="object_tracker" type="object_tracker_node" output="screen" respawn="true">
        <param name="uav_name"          value="$(arg uav_name)" />
        <param name="kalman_frame"      value="$(arg kalman_frame)"/>
        <param name="gps_frame"         value="$(arg gps_frame)"/>
        <param name="output_framerate"  value="$(arg output_framerate)" />

        <param name="kalman_pose_model" value="$(arg kalman_pose_model)" />
        <param name="kalman_rotation_model" value="$(arg kalman_rotation_model)" />

        <param name="spectral_density_pose" value="$(arg spectral_density_pose)" />
        <param name="spectral_density_rotation" value="$(arg spectral_density_rotation)" />

        <param name="time_to_live" value="$(arg time_to_live)" />

        <param name="use_uvdar" value="$(arg use_uvdar)" />
        <param name="use_uwb"   value="$(arg use_uwb)" />
        <param name="use_gps"   value="$(arg use_gps)" />

        <remap from="~uvdar" to="~uvdar"/>
        <remap from="~uwb" to="uwb_range/range"/>
        <remap from="~gps" to="uwb_range/gps_throttle" />
        <remap from="~filtered_poses" to="~filtered_poses"/>
        <remap from="~uav_status" to="mrs_uav_status/display_string" />
    </node>

    <node name="$(arg node_name)_relay_1" pkg="topic_tools" type="relay" args="uvdar/measuredPosesL $(arg node_name)/uvdar"/>
    <node name="$(arg node_name)_relay_2" pkg="topic_tools" type="relay" args="uvdar/measuredPosesR $(arg node_name)/uvdar"/>
    <node name="$(arg node_name)_relay_3" pkg="topic_tools" type="relay" args="uvdar/measuredPosesB $(arg node_name)/uvdar"/>
  </group>

</launch>